<html>
<head>
	<meta charset="UTF-8">
	<title>Marionette Contact Manager</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/application.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand">Contact Manager</span>
			</div>
		</div>
	</div>

	<div class="container" id="main-region">
		<p>
			this is where we will place our marionette
		</p>
	</div>


<script type="text/javascript" src="./assets/js/vendor/jquery.js"></script>
<script type="text/javascript" src="./assets/js/vendor/underscore.js"></script>
<script type="text/javascript" src="./assets/js/vendor/backbone.js"></script>
<script type="text/javascript" src="./assets/js/vendor/backbone.marionette.js"></script>
<script type="text/javascript" src="./assets/js/app.js"></script>
<script type="text/javascript" src="./assets/js/entities/contact.js"></script>
<script type="text/javascript" src="./assets/js/apps/contacts/list/list_view.js"></script>
<script type="text/javascript" src="./assets/js/apps/contacts/list/list_controller.js"></script>

<script type="text/template" id="static-template">
	<p>this is the template Marionette is replacing. And you cant Do anything about it.</p>
</script>

<script type="text/template" id="contact-template">
		<td><%= firstName %></td><td><%= lastName %></td>
</script>

<script type="text/template" id="contact-list">
	<thead>
		<tr><th>First Name</th><th>Last Name</th></tr>
	</thead>
	<tbody></tbody>
</script>

<script type="text/javascript">

ContactManager.start();
</script>



</body>
</html>